$version1: (
  'background': #e9dfde,
  'background-hover': #ecd1ce,
  'background-selected': #f58174,
  'border': #e74e3d,
  'text': rgb(26, 25, 25),
);

$version2: (
  'background': #dee2e4,
  'background-hover': #c1d4df,
  'background-selected': #69b4df,
  'border': #456be9,
  'text': black,
);

.sctn-qst {
  padding: 15vh 0vw 0vh 0vw;
  margin: 0vh 0vw 0vh 4vw;
  transition: 3s;
}

.query {
  margin: 0vh 2vw 3.5vh 1vw;
  font-weight: 300;
  font-size: 1.6em;
}

.inpt-text {
  height: 5vh;
  width: 50vw;
  font-size: 4vh;
  border: none;
  border-bottom: solid 2px #e74e3d;
}

.inpt-text:focus {
  outline: none;
}

::placeholder {
  color: rgb(104, 103, 103);
  opacity: 70%;
}

.lst-itm {
  list-style: none;
  margin: 0vh 0vw 1.5vh 0vw;
  padding: 1vh 0vw 0vh 1vw;
  width: 25vw;
  height: 4vh;
  border: solid 1px map-get($version1, 'border');
  border-radius: 4px;
  color: map-get($version1, 'text');
  background-color: map-get($version1, 'background');
}

.lst-itm:hover {
  background-color: map-get($version1, 'background-hover');
  cursor: pointer;
}

.lst-itm-selected {
  list-style: none;
  margin: 0vh 0vw 1.5vh 0vw;
  padding: 1vh 0vw 0vh 1vw;
  width: 25vw;
  height: 4vh;
  border: solid 1px map-get($version1, 'border');
  border-radius: 4px;
  color: map-get($version1, 'text');
  background-color: map-get($version1, 'background-selected');
}
