$version1: (
  'background': #d6cbba,
  'text': black,
);
$version2: (
  'background': #dee2e4,
  'background-hover': #c1d4df,
  'background-selected': #69b4df,
  'border': #456be9,
  'text': black,
);

$version3: (
  'background': white,
  'text': black,
);