$color: rgb(224, 218, 211);
$bg-color: white;
$height: 67px;
$width: 288px;

$colorLogo:#6e78cf;
$colorBg: #47965c;
$colorBgButton: #D1B03D;
$colorBgButtonHover: #d4ae23;
$colorText: rgb(251,251,251);
$colorBorder: rgb(211, 208, 204);

