.description {
  font-size: 1.1em;
  width: 70vw;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  padding: 5vh 0vw 5vh 0vw;
  h1 {
    text-align: center;
    margin: 0vh 0vw 7vh 0vw;
  }
  p {
    margin: 3vh 0vw 7vh 0vw;
    li {
      width: 60vw;
      padding: 5vh 0vw 0vh 5vw;
    }
  }
}
