


@media(min-width:1200px){

    .display{
        display:grid;
        gap: 2em;
        grid-auto-rows: minmax(50vh, auto);
        align-self: end;
        
        p li {
            position:relative;
            width:100%;
            margin: 3vh 0;
            padding: 0;
        }
        
    }
    
    .display img{
        align-self: center;
    }
    
    section.display-article{
        @extend .display;
        grid-template-columns: 3fr 2fr;
        
        
        
    }
    
    section.display-article-intervert{
        @extend .display;
        grid-template-columns: 5fr 4fr;
       
    }
   
}

@media(max-width:1200px){
    .display{
        display:grid;
        grid-auto-columns: minmax(auto,95vw);
        grid-auto-rows: minmax(50vh, auto);
        align-self: end;
        max-width: 95vw;
        font-size: 1.2em;
        
      
        
    }
    section.display-article img{
        width:80vw;
        margin:0;
    }
    section.display-article-intervert img{
        width:80vw;
        margin:0;
    }
}